* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle at center,
      rgb(121, 180, 218),
      rgb(57, 57, 235));
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  /* width: 50vw; */
  /* height: 80vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid;
}

h1 {
  width: 100vw;
  text-align: center;
}

.si {
  padding: 0.5em;
  color: hsla(10, 500%, 50%, 1);
  border-radius: 5px;
  margin: 15px;
}

.no {
  padding: 0.5em;
  color: hsla(250, 500%, 50%, 1);
  border-radius: 5px;
  margin: 15px;
  border: inset 5px solid transparent;
  /* transform: translate(50px 50px); */
}

@media screen and (min-width: 740px) {
  body {
    height: 100vh;
  }

  .content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    width: 100vw;
  }
}